# Commercial Plugin License Keys
# Copy this file to .env and add your actual license keys

# Etch Plugin (Required)
ETCH_LICENSE_KEY=

# Etch Theme (Required)
ETCH_THEME_LICENSE_KEY=

# Automatic.css (Optional)
ACSS_LICENSE_KEY=

# Frames Plugin (Optional)
FRAMES_LICENSE_KEY=

# Bricks Builder (Required)
BRICKS_LICENSE_KEY=